body, html {
  height:100%;
}
body {
  margin: 0px;
  background-image: url('resources/bar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active {
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .handful {
  padding:5px 12px;
  float:right;
}
.topbar {
  height:32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
.dancer {
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.cheezIt {
  height: 188px;
  width: 276px;
  position: absolute;
  animation: spin 1.2s linear infinite;
}

.extraSalt {
  height: 293px;
  width: 362px;
  position: absolute;
}

.someNuts {
  height: 86px;
  width: 288px;
  position: absolute;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

